<%- include('../partials/header') -%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Comment</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>
                <div id="editRating" class="form-group d-flex">
                    <% for(var i = 1; i <= 5; i++) { %>
                    <% if(i <= comment.rating) { %>
                        <label id="s<%= i+1 %>" class="ratingStyle mb-0 rounded">
                            <input type="radio" name="comment[rating]" value="<%= i %>">
                            <i class="fa fa-star fa-sm" aria-hidden="true"></i>
                        </label>
                    <% } else { %>
                        <label id="s<%= i+1 %>" class="ratingStyle mb-0 rounded">
                            <input type="radio" name="comment[rating]" value="<%= i %>">
                            <i class="fa fa-star-o fa-sm" aria-hidden="true"></i>
                        </label>
                    <% } %>
                    <% } %>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/jQuery/newRating.js"></script>
<%- include('../partials/footer') -%>

